

.main-header{   
    background: #000;
    height: 100px;
    
   
}

.main-header img{
    
    width: 100px;
    display: block;
    margin: 0 auto;
}

.main-text{
    padding: 0 15px;
    line-height: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}
.main-text:nth-child(-n+3) {/* Esta representando o primeiro e o segundo filho*/
    text-transform: uppercase;
   
}  
.main-text:nth-child(3) {/* Esta representando o primeiro e o segundo filho*/
   font-weight: bold;
   
} 
.img-pc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 239px;
    width: 239px;
    padding: 10px 0;

}
.img-title{
   
    max-width: 360px; /* pode ser alterado para 414px**/
   /*  max-width: 900px; */
    
    
}

.rectangule11{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.rectangule11 > div{
    flex: 1 1 200px;
    margin: 10px 5px;

}

.rectangule8{
    padding-bottom: 24px;
}
.rectangule15{
    padding-top: 50px;
    padding-bottom: 100px;
}

.rectangule15 h2,p{
    padding: 15px 30px 0 30px;
    line-height: 24px;
}

.rec11{
    background-color: #fff;
    margin: 32px;
    line-height: 24px;
    padding: 10px;

    /*editando texto*/
    text-align: center;
}

.rec11 p{
    padding: 15px;
}
.rec11-span{
    font-size: 64px;
}


 .main-content{
    max-width: 1920px;
    margin: 0 auto;
    top:732px;
} 

.rectangule11{
    position: relative;
    background: #f0f0f0;
   /*  width: 414px;
    height: 966px;
    left:0px;
    top: 1430px; */
}
.rectangule13{ /* imagem notebook */
    position: relative; 
   /*  height: 520px;
    left: 0px;
    background: url(media/tianyi-ma-WiONHd_zYI4-unsplash.jpg);
    background-size: cover;
    */
    
}
.rectangule8{
    background: #00c8ff;
}

    


.main-footer{
    padding: 10px 0px ;
    margin: 0 auto;
    background-color: #000;
    text-align: center;
    color:#BDBDBD;
}

.footer-menu li{
    display: inline-block;
    list-style: none;
    padding: 0 10px;
    font-size: 24px;

    
   
}

.footer-menu a{
    text-decoration: none;
    color:#fff;
}


@media screen and (min-width: 540px) {
    .rectangule8{
        display: grid;
        grid-template-columns: 1fr 1fr;       
                  
    }
    .img-title{
        max-width:1920px ;
      
    }
      
}